/* ----------- BASE OVERRIDES ----------- */
a {
  color: black;
  text-decoration: underline;
}
a:hover,
a:hover * {
  color: black;
  text-decoration: underline;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 28px;
}

h3 {
  margin-top: 30px;
}

ul {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #FFFFC4;
}


/* --------------- COMMON --------------- */
.logo {
  font-size: 36px;
  font-style: italic;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 800;
}

#site-content {
  margin-top: 50px;
}
/* --------------- HEADER --------------- */
#site-header #header-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

#site-header #header-menu {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 7px 0px;
}
#site-header #header-menu ul {
  display: flex;
  justify-content: space-around;
}
#site-header #header-menu li {
  font-size: 20px;
  list-style: none;
}

/* ---------------- HOME ---------------- */
.featured-list img {
  width: 250px;
}

.featured-list .item-list {
  display: flex;
  justify-content: space-between;
}

.featured-list .item-content {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0px 30px;
}

.featured-list .item-name {
  text-align: center;
  font-size: 22px;
  margin-top: 7px;
  text-decoration: underline;
}

.featured-list .item-description {
  text-align: center;
  font-style: italic;
}

.featured-list .item-content:first-child {
  margin-left: 0px;
}

.featured-list .item-content:last-child {
  margin-right: 0px;
}

/* -------------- CISTELLA -------------- */
body.page-type-cart form.order-line-modification {
  margin-bottom: 0px;
}
body.page-type-cart form.order-line-modification input[type="submit"] {
  border: 1px solid #000000;
  padding: 2px;
  line-height: 11px;
  background-color: inherit;
  font-weight: 800;
}

body.page-type-cart td.quantity > * {
  display: inline-block;
}

body.page-type-cart table#cart {
  font-family: monospace;
}

body.page-type-cart table#cart thead {
  font-size: 20px;
  border: 1px solid #000000;
  text-decoration: underline;
  background-color: #CCCCCC;
}

body.page-type-cart table#cart thead th {
  padding: 20px 10px;
}

body.page-type-cart table#cart tbody {
  font-size: 18px;
  border: 1px solid #000000;
}

body.page-type-cart table#cart tbody tr {
  border: 1px solid #000000;
  background-color: #FFFFFF;
}
body.page-type-cart table#cart tbody tr:nth-child(odd) {
  background-color: #EEEEEE;
}

body.page-type-cart table#cart tbody td {
  padding: 10px 10px;
}
body.page-type-cart .total-price {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}
body.page-type-cart .buy-link {
  text-align: center;
}
body.page-type-cart form.user > * {
  display: block;
  margin: 10px 0px;
}